<div class="game">

  <div class="game-board">

    <div>

      <app-board></app-board>

  </div>
<!-- 
  <div class="game-info">

    <div>Next player: X</div>
    <ol>
      <li><button>Go to game start</button></li>
    </ol>

  </div> -->

</div>

<router-outlet></router-outlet>
