<div>
  <div class="board-row">
    <app-square [value]="1" [clickHandle]="onClick"></app-square>
    <app-square [value]="2" [clickHandle]="onClick"></app-square>
    <app-square [value]="3" [clickHandle]="onClick"></app-square>
  </div>
  <div class="board-row">
    <app-square [value]="4" [clickHandle]="onClick"></app-square>
    <app-square [value]="5" [clickHandle]="onClick"></app-square>
    <app-square [value]="6" [clickHandle]="onClick"></app-square>
  </div>
  <div class="board-row">
    <app-square [value]="7" [clickHandle]="onClick"></app-square>
    <app-square [value]="8" [clickHandle]="onClick"></app-square>
    <app-square [value]="9" [clickHandle]="onClick"></app-square>
  </div>
</div>
